{% extends "base.html" %}
{% block search %}

<form action="/search" method="post">
    Search for ... <br>
    <input type="text" name="title" placeholder="Title">
    <br>
    <input type="text" name="artist" placeholder="Artist">
    <br>
    <input type="text" name="album" placeholder="Album">
    <br>
    <input type="submit" name="Submit">
</form>
<br>
{% endblock %}
{% block body %}
Current Queue: <br>
{% if SONGS %}
  <table>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Points</th>
      <th></th>
      <th></th>
    </tr>

    {% for s in SONGS %}
        <tr>
          <td>{{
          "{}".
            format(
              s[0].get('title')[:30]
            )
          }}</td>
          <td>{{
          "{}".
            format(
              s[0].get('artist')[:30]
            )
          }}</td>
          <td>
            <div>
              <form class="vote_song" action=#>
                <input type=hidden value="{{s}}"/>
                <button onclick="button_vote(this, '{{ s[0].get('file') }}', 1)" class="upvote_button" type=submit>👍</button>
              </form>
            </div>
          </td>
          <td>
            <div>
              <form class=vote_song action=#>
                <input type=hidden value="{{s}}"/>
                <button onclick="button_vote(this, '{{ s[0].get('file') }}', -1)" class="downvote_button" type=submit>👎</button>
              </form>
            </div>
          </td>
        </tr>
    {% endfor %}
  </table>

{% endif %}
{% endblock %}
