{% extends "base.html" %}
{% block body %}
{% if SONGS %}
  <table>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Points</th>
      <th></th>
      <th></th>
    </tr>

    {% for s in SONGS %}
        <tr>
          <td>{{
          "{}".
            format(
              s[0].get('title')[:30]
            ) 
          }}</td>
          <td>{{
          "{}".
            format(
              s[0].get('artist')[:30]
            ) 
          }}</td>
          <td id="karma_{{ s[0].get('file') }}">{{
          "{}".
            format(
              F_KARMA(s)
            ) 
          }}</td>
          <td>
            <div>
              <form class="vote_song" action=#>
                <input type=hidden value="{{s}}"/>
                <button onclick="button_vote(this, '{{ s[0].get('file') }}', 1)" class="upvote_button" type=submit>👍</button>
              </form>
            </div>
          </td>
          <td>
            <div>
              <form class=vote_song action=#>
                <input type=hidden value="{{s}}"/>
                <button onclick="button_vote(this, '{{ s[0].get('file') }}', -1)" class="downvote_button" type=submit>👎</button>
              </form>
            </div>
          </td>
        </tr>
    {% endfor %}
  </table>

{% endif %}
{% endblock %}